body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#Table1
{
   border-radius: 0px;
   border: 0px solid transparent;
   background-color: rgba(248,249,250,0.00);
   background-image: none;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0;
}
#Table1 td, #Table1 th
{
   padding: 0;
}
#Table1 p, #Table1 ul
{
   margin: 0;
   padding: 0;
}
#Table1 .cell0
{
   background-color: rgba(220,220,220,0.39);
   background-image: none;
   border: 0px #C0C0C0 solid;
   text-align: center;
   vertical-align: middle;
   width: 96px;
   height: 30px;
   color: #000000;
   font-family: Arial;
   font-size: 17px;
   line-height: 20px;
}
#Table1 .cell1
{
   background-color: rgba(220,220,220,0.39);
   background-image: none;
   border: 0px #C0C0C0 solid;
   text-align: center;
   vertical-align: middle;
   width: 16px;
   height: 30px;
}
#Table1 .cell2
{
   text-align: center;
   vertical-align: middle;
   width: 96px;
   height: 30px;
   color: #000000;
   font-family: Arial;
   font-size: 16px;
   line-height: 18px;
}
#Table1 .cell3
{
   text-align: center;
   vertical-align: middle;
   width: 16px;
   height: 30px;
}
#Table1 .cell4
{
   background-color: transparent;
   background-image: none;
   border: 0px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 96px;
   height: 18px;
}
#Table1 .cell5
{
   background-color: transparent;
   background-image: none;
   border: 0px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 16px;
   height: 18px;
}
#Table1 .cell6
{
   background-color: transparent;
   background-image: none;
   border: 0px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 96px;
   height: 30px;
}
#Table1 .cell7
{
   background-color: transparent;
   background-image: none;
   border: 0px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 16px;
   height: 30px;
}
#Table1 .cell8
{
   text-align: left;
   vertical-align: top;
   width: 96px;
   height: 30px;
   font-size: 0;
}
#Table1 .cell9
{
   background-color: transparent;
   background-image: none;
   border: 0px #C0C0C0 solid;
   text-align: center;
   vertical-align: middle;
   width: 96px;
   height: 18px;
   font-size: 0;
}
#Table1 .cell10
{
   background-color: transparent;
   background-image: none;
   border: 0px #C0C0C0 solid;
   text-align: center;
   vertical-align: middle;
   width: 16px;
   height: 30px;
   font-size: 0;
}
#Table1 .cell11
{
   background-color: transparent;
   background-image: none;
   border: 0px #C0C0C0 solid;
   text-align: center;
   vertical-align: middle;
   width: 16px;
   height: 30px;
}
#Table1 .cell12
{
   background-color: transparent;
   background-image: none;
   border: 0px #C0C0C0 solid;
   text-align: left;
   vertical-align: top;
   width: 96px;
   height: 18px;
   font-size: 0;
}
#Table1 .cell13
{
   text-align: center;
   vertical-align: middle;
   width: 96px;
   height: 30px;
   font-size: 0;
}
#Table2
{
   border-radius: 0px;
   border: 1px solid #C0C0C0;
   background-color: transparent;
   background-image: none;
   border-collapse: collapse;
   border-spacing: 0px;
   margin: 0;
}
#Table2 td, #Table2 th
{
   padding: 0;
}
#Table2 td div
{
   white-space: nowrap;
}
#Table2 p, #Table2 ul
{
   margin: 0;
   padding: 0;
}
#Table2 .cell0
{
   background-color: rgba(220,220,220,0.39);
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: center;
   vertical-align: middle;
   width: 102px;
   height: 30px;
}
#Table2 .cell1
{
   background-color: rgba(220,220,220,0.39);
   background-image: none;
   border: 1px #C0C0C0 solid;
   text-align: center;
   vertical-align: middle;
   width: 102px;
   height: 30px;
   color: #000000;
   font-family: Warhelios;
   font-size: 13px;
   line-height: 17px;
}
#wb_Image12
{
   margin: 0;
   vertical-align: top;
}
#Image12
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image13
{
   margin: 0;
   vertical-align: top;
}
#Image13
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image15
{
   margin: 0;
   vertical-align: top;
}
#Image15
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image16
{
   margin: 0;
   vertical-align: top;
}
#Image16
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image17
{
   margin: 0;
   vertical-align: top;
}
#Image17
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image18
{
   margin: 0;
   vertical-align: top;
}
#Image18
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image19
{
   margin: 0;
   vertical-align: top;
}
#Image19
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image20
{
   margin: 0;
   vertical-align: top;
}
#Image20
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image21
{
   margin: 0;
   vertical-align: top;
}
#Image21
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image27
{
   margin: 0;
   vertical-align: top;
}
#Image27
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image28
{
   margin: 0;
   vertical-align: top;
}
#Image28
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image29
{
   margin: 0;
   vertical-align: top;
}
#Image29
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image30
{
   margin: 0;
   vertical-align: top;
}
#Image30
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image31
{
   margin: 0;
   vertical-align: top;
}
#Image31
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image32
{
   margin: 0;
   vertical-align: top;
}
#Image32
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image33
{
   margin: 0;
   vertical-align: top;
}
#Image33
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image34
{
   margin: 0;
   vertical-align: top;
}
#Image34
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image35
{
   margin: 0;
   vertical-align: top;
}
#Image35
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_танк_т-150
{
   margin: 0;
   vertical-align: top;
}
#танк_т-150
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image37
{
   margin: 0;
   vertical-align: top;
}
#Image37
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image38
{
   margin: 0;
   vertical-align: top;
}
#Image38
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image39
{
   margin: 0;
   vertical-align: top;
}
#Image39
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image40
{
   margin: 0;
   vertical-align: top;
}
#Image40
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image41
{
   margin: 0;
   vertical-align: top;
}
#Image41
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image42
{
   margin: 0;
   vertical-align: top;
}
#Image42
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image43
{
   margin: 0;
   vertical-align: top;
}
#Image43
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image44
{
   margin: 0;
   vertical-align: top;
}
#Image44
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image45
{
   margin: 0;
   vertical-align: top;
}
#Image45
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image46
{
   margin: 0;
   vertical-align: top;
}
#Image46
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image47
{
   margin: 0;
   vertical-align: top;
}
#Image47
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_268-4
{
   margin: 0;
   vertical-align: top;
}
#268-4
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_263
{
   margin: 0;
   vertical-align: top;
}
#263
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_SU-101
{
   margin: 0;
   vertical-align: top;
}
#SU-101
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_SU-100M1
{
   margin: 0;
   vertical-align: top;
}
#SU-100M1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_268
{
   margin: 0;
   vertical-align: top;
}
#268
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_704
{
   margin: 0;
   vertical-align: top;
}
#704
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_ИСУ-152
{
   margin: 0;
   vertical-align: top;
}
#ИСУ-152
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_СУ-152
{
   margin: 0;
   vertical-align: top;
}
#СУ-152
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_СУ-100
{
   margin: 0;
   vertical-align: top;
}
#СУ-100
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_БТ-2
{
   margin: 0;
   vertical-align: top;
}
#БТ-2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_БТ-5
{
   margin: 0;
   vertical-align: top;
}
#БТ-5
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Т-28
{
   margin: 0;
   vertical-align: top;
}
#Т-28
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_КВ-1
{
   margin: 0;
   vertical-align: top;
}
#КВ-1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_КВ-1С
{
   margin: 0;
   vertical-align: top;
}
#КВ-1С
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_ИС
{
   margin: 0;
   vertical-align: top;
}
#ИС
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_ИС-3
{
   margin: 0;
   vertical-align: top;
}
#ИС-3
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_257
{
   margin: 0;
   vertical-align: top;
}
#257
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_ИС-7
{
   margin: 0;
   vertical-align: top;
}
#ИС-7
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_ИС-М
{
   margin: 0;
   vertical-align: top;
}
#ИС-М
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_705
{
   margin: 0;
   vertical-align: top;
}
#705
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_705А
{
   margin: 0;
   vertical-align: top;
}
#705А
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Т-150
{
   margin: 0;
   vertical-align: top;
}
#Т-150
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_КВ-3
{
   margin: 0;
   vertical-align: top;
}
#КВ-3
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_КВ-4
{
   margin: 0;
   vertical-align: top;
}
#КВ-4
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_СТ-1
{
   margin: 0;
   vertical-align: top;
}
#СТ-1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_ИС-4
{
   margin: 0;
   vertical-align: top;
}
#ИС-4
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_назв_715г
{
   margin: 0;
   vertical-align: top;
}
#назв_715г
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_назв_261-4
{
   margin: 0;
   vertical-align: top;
}
#назв_261-4
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_назв_ису-2ш
{
   margin: 0;
   vertical-align: top;
}
#назв_ису-2ш
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_назв_су-д15
{
   margin: 0;
   vertical-align: top;
}
#назв_су-д15
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_назв_су-122
{
   margin: 0;
   vertical-align: top;
}
#назв_су-122
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image4
{
   margin: 0;
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image11
{
   margin: 0;
   vertical-align: top;
}
#Image11
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image52
{
   margin: 0;
   vertical-align: top;
}
#Image52
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_стрелка_1
{
   margin: 0;
   vertical-align: top;
}
#стрелка_1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 14px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_стрелка_2
{
   margin: 0;
   vertical-align: top;
}
#стрелка_2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 14px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_стрелка_3
{
   margin: 0;
   vertical-align: top;
}
#стрелка_3
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 14px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_стрелка_4
{
   margin: 0;
   vertical-align: top;
}
#стрелка_4
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 14px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_261_4
{
   margin: 0;
   vertical-align: top;
}
#261_4
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_715г
{
   margin: 0;
   vertical-align: top;
}
#715г
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_ису-2ш
{
   margin: 0;
   vertical-align: top;
}
#ису-2ш
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_су-д15
{
   margin: 0;
   vertical-align: top;
}
#су-д15
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_су-122
{
   margin: 0;
   vertical-align: top;
}
#су-122
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_су-85
{
   margin: 0;
   vertical-align: top;
}
#су-85
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_су-76
{
   margin: 0;
   vertical-align: top;
}
#су-76
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_т-70
{
   margin: 0;
   vertical-align: top;
}
#т-70
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_т-60
{
   margin: 0;
   vertical-align: top;
}
#т-60
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_мс-1
{
   margin: 0;
   vertical-align: top;
}
#мс-1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_стрелка_5
{
   margin: 0;
   vertical-align: top;
}
#стрелка_5
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 14px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_стрелка_6
{
   margin: 0;
   vertical-align: top;
}
#стрелка_6
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 14px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_стрелка_7
{
   margin: 0;
   vertical-align: top;
}
#стрелка_7
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 14px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_стрелка_8
{
   margin: 0;
   vertical-align: top;
}
#стрелка_8
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 14px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_назв_су-85
{
   margin: 0;
   vertical-align: top;
}
#назв_су-85
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_назв_су-76м
{
   margin: 0;
   vertical-align: top;
}
#назв_су-76м
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_назв_т-70
{
   margin: 0;
   vertical-align: top;
}
#назв_т-70
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_назв_т-60
{
   margin: 0;
   vertical-align: top;
}
#назв_т-60
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_назв_мс-1
{
   margin: 0;
   vertical-align: top;
}
#назв_мс-1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_стрелка_9
{
   margin: 0;
   vertical-align: top;
}
#стрелка_9
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 14px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_стрелка_10
{
   margin: 0;
   vertical-align: top;
}
#стрелка_10
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 14px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image5
{
   margin: 0;
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image6
{
   margin: 0;
   vertical-align: top;
}
#Image6
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image7
{
   margin: 0;
   vertical-align: top;
}
#Image7
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image8
{
   margin: 0;
   vertical-align: top;
}
#Image8
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image9
{
   margin: 0;
   vertical-align: top;
}
#Image9
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image10
{
   margin: 0;
   vertical-align: top;
}
#Image10
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image14
{
   margin: 0;
   vertical-align: top;
}
#Image14
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image1
{
   margin: 0;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 96px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#Layer1
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_Image3
{
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_палка_для_стрелки
{
   vertical-align: top;
}
#палка_для_стрелки
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
