body
{
   background-color: transparent;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 16px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_strelka_06
{
   vertical-align: top;
}
#strelka_06
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_strelka_07
{
   vertical-align: top;
}
#strelka_07
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_punktir09
{
   vertical-align: top;
}
#punktir09
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_punktir12
{
   vertical-align: top;
}
#punktir12
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_punktir07
{
   vertical-align: top;
}
#punktir07
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_punktir05
{
   vertical-align: top;
}
#punktir05
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_punktir04
{
   vertical-align: top;
}
#punktir04
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_punktir03
{
   vertical-align: top;
}
#punktir03
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_punktir11
{
   vertical-align: top;
}
#punktir11
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_punktir06
{
   vertical-align: top;
}
#punktir06
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_punktir08
{
   vertical-align: top;
}
#punktir08
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_punktir02
{
   vertical-align: top;
}
#punktir02
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_punktir01
{
   vertical-align: top;
}
#punktir01
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_punktir10
{
   vertical-align: top;
}
#punktir10
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_strelka_01
{
   vertical-align: top;
}
#strelka_01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ugolok_arta
{
   vertical-align: top;
}
#ugolok_arta
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_strelka_05
{
   vertical-align: top;
}
#strelka_05
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_strelka_04
{
   vertical-align: top;
}
#strelka_04
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_strelka_03
{
   vertical-align: top;
}
#strelka_03
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_strelka_02
{
   vertical-align: top;
}
#strelka_02
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_clsu122a
{
   vertical-align: top;
}
#clsu122a
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_su-122a_hover
{
   vertical-align: top;
}
#su-122a_hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_clsu8
{
   vertical-align: top;
}
#clsu8
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_su-8_hover
{
   vertical-align: top;
}
#su-8_hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_cls51
{
   vertical-align: top;
}
#cls51
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_s-51_hover
{
   vertical-align: top;
}
#s-51_hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_clsu14
{
   vertical-align: top;
}
#clsu14
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_su14-hover
{
   vertical-align: top;
}
#su14-hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_cl212
{
   vertical-align: top;
}
#cl212
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_212_hover
{
   vertical-align: top;
}
#212_hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_cl261
{
   vertical-align: top;
}
#cl261
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_261hover
{
   vertical-align: top;
}
#261hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_strelka20
{
   vertical-align: top;
}
#strelka20
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_strelka21
{
   vertical-align: top;
}
#strelka21
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_strelka22
{
   vertical-align: top;
}
#strelka22
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_strelka23
{
   vertical-align: top;
}
#strelka23
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_strelka24
{
   vertical-align: top;
}
#strelka24
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_strelka_16
{
   vertical-align: top;
}
#strelka_16
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_strelka_17
{
   vertical-align: top;
}
#strelka_17
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_strelka_18
{
   vertical-align: top;
}
#strelka_18
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_strelka_19
{
   vertical-align: top;
}
#strelka_19
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ugolok_su100m1
{
   vertical-align: top;
}
#ugolok_su100m1
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_polosa_su100m1
{
   vertical-align: top;
}
#polosa_su100m1
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_polosa_shturmsau
{
   vertical-align: top;
}
#polosa_shturmsau
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_strelka_15
{
   vertical-align: top;
}
#strelka_15
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_strelka_14
{
   vertical-align: top;
}
#strelka_14
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_strelka_13
{
   vertical-align: top;
}
#strelka_13
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_strelka_12
{
   vertical-align: top;
}
#strelka_12
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_strelka_11
{
   vertical-align: top;
}
#strelka_11
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_clsu100
{
   vertical-align: top;
}
#clsu100
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_su100_hover
{
   vertical-align: top;
}
#su100_hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_clsu152
{
   vertical-align: top;
}
#clsu152
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_su152_hover
{
   vertical-align: top;
}
#su152_hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_clisy152
{
   vertical-align: top;
}
#clisy152
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_isu152_hover
{
   vertical-align: top;
}
#isu152_hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_cl704
{
   vertical-align: top;
}
#cl704
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_704_hover
{
   vertical-align: top;
}
#704_hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_cl268
{
   vertical-align: top;
}
#cl268
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_268_hover
{
   vertical-align: top;
}
#268_hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_clsu100m1
{
   vertical-align: top;
}
#clsu100m1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_su100m1_hover
{
   vertical-align: top;
}
#su100m1_hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_clsu101
{
   vertical-align: top;
}
#clsu101
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_su101_hover
{
   vertical-align: top;
}
#su101_hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_cl263
{
   vertical-align: top;
}
#cl263
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_263_hover
{
   vertical-align: top;
}
#263_hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_cl268-4
{
   vertical-align: top;
}
#cl268-4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_268-4_hover
{
   vertical-align: top;
}
#268-4_hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_polosa_kms1
{
   vertical-align: top;
}
#polosa_kms1
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_strelka_10
{
   vertical-align: top;
}
#strelka_10
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_strelka_09
{
   vertical-align: top;
}
#strelka_09
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_strelka_08
{
   vertical-align: top;
}
#strelka_08
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_polosa_arta
{
   vertical-align: top;
}
#polosa_arta
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_clms-1
{
   vertical-align: top;
}
#clms-1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ms-1_hover
{
   vertical-align: top;
}
#ms-1_hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_clt-60
{
   vertical-align: top;
}
#clt-60
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-60_hover
{
   vertical-align: top;
}
#t-60_hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_clt-70
{
   vertical-align: top;
}
#clt-70
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-70_hover
{
   vertical-align: top;
}
#t-70_hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_clsu76m
{
   vertical-align: top;
}
#clsu76m
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_su-76m_hover
{
   vertical-align: top;
}
#su-76m_hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_clsu-85
{
   vertical-align: top;
}
#clsu-85
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_su-85_hover
{
   vertical-align: top;
}
#su-85_hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_clsu-122
{
   vertical-align: top;
}
#clsu-122
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_su-122_hover
{
   vertical-align: top;
}
#su-122_hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_clsu-d15
{
   vertical-align: top;
}
#clsu-d15
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_su-d15_hover
{
   vertical-align: top;
}
#su-d15_hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_clisu-2sh
{
   vertical-align: top;
}
#clisu-2sh
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_isu-2sh_hover
{
   vertical-align: top;
}
#isu-2sh_hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_cl715
{
   vertical-align: top;
}
#cl715
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_715_hover
{
   vertical-align: top;
}
#715_hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_cl261_4
{
   vertical-align: top;
}
#cl261_4
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_261_4_hover
{
   vertical-align: top;
}
#261_4_hover
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_cnina_flag
{
   vertical-align: top;
}
#cnina_flag
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_che_flag
{
   vertical-align: top;
}
#che_flag
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_fra_flag
{
   vertical-align: top;
}
#fra_flag
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ger_flag
{
   vertical-align: top;
}
#ger_flag
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ita_flag
{
   vertical-align: top;
}
#ita_flag
{
   border: 0px solid #4F4F4F;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(0,0,0,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_jap_flag
{
   vertical-align: top;
}
#jap_flag
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_pol_flag
{
   vertical-align: top;
}
#pol_flag
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_swe_flag
{
   vertical-align: top;
}
#swe_flag
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_uk_flag
{
   vertical-align: top;
}
#uk_flag
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_usa_flag
{
   vertical-align: top;
}
#usa_flag
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ussr_flag
{
   vertical-align: top;
}
#ussr_flag
{
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_union_flag
{
   vertical-align: top;
}
#union_flag
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   filter: drop-shadow(1px 1px 2px rgba(79,79,79,1.00));
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_1_lvl
{
   vertical-align: top;
}
#1_lvl
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_2_lvl
{
   vertical-align: top;
}
#2_lvl
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_3_lvl
{
   vertical-align: top;
}
#3_lvl
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_4_lvl
{
   vertical-align: top;
}
#4_lvl
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_5_lvl
{
   vertical-align: top;
}
#5_lvl
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_6_lvl
{
   vertical-align: top;
}
#6_lvl
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_7_lvl
{
   vertical-align: top;
}
#7_lvl
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_8_lvl
{
   vertical-align: top;
}
#8_lvl
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_9_lvl
{
   vertical-align: top;
}
#9_lvl
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_10_lvl
{
   vertical-align: top;
}
#10_lvl
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_11_lvl
{
   vertical-align: top;
}
#11_lvl
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-9-2-ar-01
{
   vertical-align: top;
}
#t-9-2-ar-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t10-2-ar-01
{
   vertical-align: top;
}
#t10-2-ar-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-10-1-ar-01
{
   vertical-align: top;
}
#t-10-1-ar-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_t-9-1-ar-01
{
   vertical-align: top;
}
#t-9-1-ar-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-8-1-ar-01
{
   vertical-align: top;
}
#t-8-1-ar-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-7-1-ar-01
{
   vertical-align: top;
}
#t-7-1-ar-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-6-1-ar-01
{
   vertical-align: top;
}
#t-6-1-ar-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-5-1-ar-01
{
   vertical-align: top;
}
#t-5-1-ar-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-8-2-ar-01
{
   vertical-align: top;
}
#t-8-2-ar-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-7-2-ar-01
{
   vertical-align: top;
}
#t-7-2-ar-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-6-2-ar-01
{
   vertical-align: top;
}
#t-6-2-ar-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-5-2_3_4-pt-01
{
   vertical-align: top;
}
#t-5-2_3_4-pt-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-4-1_2_3_4-pt-01
{
   vertical-align: top;
}
#t-4-1_2_3_4-pt-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-3-1_2_3_4-lt-01
{
   vertical-align: top;
}
#t-3-1_2_3_4-lt-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-2-1_2_3_4-lt-01
{
   vertical-align: top;
}
#t-2-1_2_3_4-lt-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-1-2_2_3_4_5_6_7_8-lt-01
{
   vertical-align: top;
}
#t-1-2_2_3_4_5_6_7_8-lt-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text2 div
{
   text-align: center;
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ugolok_kms1
{
   vertical-align: top;
}
#ugolok_kms1
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-10-3-pt-01
{
   vertical-align: top;
}
#t-10-3-pt-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-9-3-pt-01
{
   vertical-align: top;
}
#t-9-3-pt-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-8-3-pt-01
{
   vertical-align: top;
}
#t-8-3-pt-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-7-3-pt-01
{
   vertical-align: top;
}
#t-7-3-pt-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-10-4-pt-01
{
   vertical-align: top;
}
#t-10-4-pt-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-9-4-pt-01
{
   vertical-align: top;
}
#t-9-4-pt-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-8-4-pt-01
{
   vertical-align: top;
}
#t-8-4-pt-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-7-4-pt-01
{
   vertical-align: top;
}
#t-7-4-pt-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_t-6-3_4-pt-01
{
   vertical-align: top;
}
#t-6-3_4-pt-01
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_ugolok_shturmsau
{
   vertical-align: top;
}
#ugolok_shturmsau
{
   padding: 0;
   margin: 0;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
